@{
    ViewData["Title"] = "Home Page";
}
@model IEnumerable<ToDoList.Domain.DTO.GetToDoListItemDTO>

<div class="text-center">
    <h1 class="display-4">ToDo List</h1>
    @{
        <div>
            <form id="taskForm">
                <input type="text" id="taskInput" placeholder="Введите задание" oninput="countCharacters()" onkeydown="handleKeyDown(event)">
                <span id="charCount">0</span> символов
                <button type="button" onclick="addTask(event)" id="addTaskBtn">Добавить задание</button>
            </form>
        </div>



        <div id="taskList">
            @foreach (var item in Model)
            {
                <div style="display:flex" id="@item.Id">
                    <div class="taskItem" onclick="toggleCompleted(this, @item.ToString())">
                        <span class="@((item.IsFinished ? "completed" : ""))">@item.Title</span>
                    </div>
                    <div>
                        <button class="green-btn" onclick="editTask(@item.ToString())">Edit</button>
                        <button class="red-btn" onclick="deleteTask('@item.Id')">Delete</button>
                    </div>
                </div>

            }
        </div>
    }
</div>